* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*****************  
COLORS
*****************/
.dark-blue {
  color: hsl(233, 47%, 7%);
}

.blue {
  color: hsl(244, 38%, 16%);
}

.violet {
  color: hsl(277, 64% 62%);
}

.white {
  color: hsl(0, 0%, 100%);
}

.white2 {
  color: hsla(0, 0%, 100%, 0.75);
}

.white3 {
  color: hsla(0, 0%, 100%, 0.6);
}


body {
  font-size: 15px;
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 400;
  color: hsl(233, 47%, 7%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 300px;
  height: 400px;
  text-align: center;
}

.upper-container img {
  width: 300px;
}



/*****************  
Details
*****************/
.item span {
  display: block;
  text-transform: uppercase;
}